<div class="footer bg-primary pt-60 sm-pt-0 ">
    <div class="container">
        <div class="footer-content flex justify-between sm-justify-end">
            <ul class="footer-item flex">
                <li class="mr-48"><a href="#">首頁</a></li>
                <li class="mr-48"><a href="#">系列鏡框</a></li>
                <li class="mr-48"><a href="#">門市據點</a></li>
                <li class="mr-48"><a href="#">部落格</a></li>
                <li class="mr-48" ><a href="#">常見問題</a></li>
            </ul>
            <ul class="media flex">
            <li ><a href="#"><img src="../assets/images/ic-social-fb.png" alt="image"></a></li>
            <li ><a href="#"><img src="../assets/images/ic_social_ig.png" alt="image"></a></li>
            <li ><a href="#"><img src="../assets/images/ic_social_line.png" alt="image"></a></li>
            </ul>
        </div>
        <div class="footer-contact sm-mt-24">
            <ul>
                <li class="mb-8"><span class="material-symbols-outlined icon">call</span><span>0800-000-000</span></li>
                <li class="mb-8"><span class="material-symbols-outlined icon">mail</span><span>glasses@business.com</span></li>
            </ul>
        </div>
        <div class="flex justify-between detail wrap">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="flex rule wrap">
                <li class="ml-48"><a  href="#">隱私權政策</a> </li>
                <li class="ml-48"><a  href="#">服務條款</a> </li>
            </ul>
        </div>
    </div>
</div>